@font-face {
  font-family: Chivo-bold;
  src: url('../assets/fonts/Chivo-Bold.ttf');
}
@font-face {
  font-family: Chivo-regular;
  src: url('../assets/fonts/Chivo-Regular.ttf');
}
.intro {
  font-size: 42px;
  font-family: Chivo-bold;
  margin-top: 20px;
}
.intro__tag {
  font-size: 24px;
  font-family: Chivo-bold;
  margin-top: 25px;
}

.intro__desc__t {
  font-size: 16px;
  font-family: Chivo-regular;
  margin-top: 25px;
}

.intro__desc__b {
  font-size: 16px;
  font-family: Chivo-regular;
  margin-top: 10px;
  margin-bottom: 50px;
}

.category {
  font-family: Chivo-bold;
  font-size: 24px;
  margin-top: 50px;
  background-color: tomato;
}

.container {
  margin: 0 auto;
  max-width: 655px;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
}
.container__logo {
  margin: 0 auto;
  max-width: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.logo {
  width: 300px;
  margin: 0 auto;
  align-self:center ;
}
