.container {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 0;
  margin: 0 auto 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 22px 32px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}
