.clapperboard {
  padding-top: 22px;
}
.bioBoxContainer {
  max-width: 700px;
}
.bioBox {
  width: 100%;
}

.CFM {
  font-family: 'Bangers';
  font-size: 70px;
  text-align: center;
}

.aboutSlogan {
  font-family: 'Chivo';
  font-weight: lighter;
  text-align: center;
}

.francogmentsPost {
  margin-top: 50px;
  padding-bottom: 42px;
}
.francogmentsContent {
  font-family: 'Inter';
}

.francogmentPostsContainer {
  width: 619px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.francogmentsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.francogments {
  font-family: 'Bangers';
  font-size: 40px;
  margin-top: -15px;
}
.francogmentsLogo {
  margin-right: 101px;
}

.slogan {
  font-family: 'Courier New';
  font-size: 14px;
  font-style: italic;
}

.projectsHeadingContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 47px;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.projectsHeading {
  font-family: 'Bangers';
  font-size: 70px;
  align-self: center;
}

.moviePoster {
  padding-bottom: 42px;
}
.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-family: 'Chivo';
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
  font-family: 'Chivo';
  font-weight: lighter;
}
