.scriptIntroContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 555px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  padding: 20px;
  padding-bottom: 42px;
}

.scriptQuickCuts {
  font-weight: bold;
  align-self: flex-start;
}

.scriptSongScene {
  font-weight: bold;
  align-self: flex-start;
  color: #58a6ff;
  padding-bottom: 10px;
}

.scriptActorInfo {
  font-weight: bold;
  align-self: flex-start;
  color: #58a6ff;
}

.scriptMetaDescription {
  font-weight: bold;
  align-self: flex-start;
}

.scriptCameraDirection {
  font-weight: bold;
  align-self: flex-end;
}

.scriptContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 565px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  padding: 30px;
  padding-bottom: 42px;
}

.scriptSceneHeading {
  font-weight: bold;
  align-self: flex-start;
}

.scriptTitleContainer {
  font-weight: bold;
  padding-bottom: 42px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scriptDialogueContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.scriptCredit {
  align-self: center;
}

.scriptAuthor {
  align-self: center;
}

.scriptDate {
  align-self: flex-end;
}

.scriptActor {
  align-self: center;
  font-weight: bold;
}
.scriptDialogueContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
.scriptDialogue {
  display: flex;
  flex-direction: column;
  width: 303px;
}

.sceneHeading {
  font-weight: bold;
  align-self: flex-start;
}

.sceneInstruction {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  align-self: flex-start;
  font-size: 14px;
}

.container {
  padding-top: 114px;
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 535px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}
.containerWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 535px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  padding-top: 13px;
  padding-bottom: 42px;
}

.title {
  font-weight: bold;
  padding-bottom: 42px;
}

.titleContainer {
  font-weight: bold;
  padding-bottom: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credit {
  padding-bottom: 6px;
}

.author {
  padding-bottom: 42px;
}

.date {
  display: flex;
  align-self: flex-end;
}

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}
